body {
  background-color: rgb(234, 167, 167);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #f6ff0082;
  margin: 50px auto;
  border: 1px solid black;
  width: 600px;
  border-radius: 20px;
  padding: 10px;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  margin-right: 10px;
  border-radius: 20px;
}

.input-container {
  margin: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

li button {
  margin-left: 10px;
}
